## Hypotheses tests

### Supplementary material for Fischer et al "The salt-and-pepper pattern in mouse blastocysts is compatible with signalling beyond the nearest neighbours."

In [2]:
import numpy as np
from scipy import stats
rng = np.random.default_rng()
import json
import os
import pandas as pd

Define functions

In [3]:
def highlight_rows(x):
    sig=0.05
    numTests=22
    if x.TTest>sig/numTests and x.Welch>sig/numTests and x.MannWhitney>sig/numTests:
        return['background-color: pink']*4
    elif x.TTest>sig/numTests or x.Welch>sig/numTests or x.MannWhitney>sig/numTests:
        return['background-color: lightblue']*4
    else:
        return['background-color: white']*4

In [4]:
def highlight_rowsRB(x):
    sig=0.01
    numTests=5
    if x.TTest>sig/numTests and x.Welch>sig/numTests and x.MannWhitney>sig/numTests:
        return['background-color: pink']*4
    elif x.TTest>sig/numTests or x.Welch>sig/numTests or x.MannWhitney>sig/numTests:
        return['background-color: lightblue']*4
    else:
        return['background-color: white']*4

In [5]:
def highlight_rowsLC(x):
    sig=0.05
    numTests=10
    if x.TTest>sig/numTests and x.Welch>sig/numTests and x.MannWhitney>sig/numTests:
        return['background-color: pink']*4
    elif x.TTest>sig/numTests or x.Welch>sig/numTests or x.MannWhitney>sig/numTests:
        return['background-color: lightblue']*4
    else:
        return['background-color: white']*4

In [6]:
def highlight_rowsExp(x):
    sig=0.01
    numTests=3
    if x.TTest>sig/numTests and x.Welch>sig/numTests and x.MannWhitney>sig/numTests:
        return['background-color: pink']*4
    elif x.TTest>sig/numTests or x.Welch>sig/numTests or x.MannWhitney>sig/numTests:
        return['background-color: lightblue']*4
    else:
        return['background-color: white']*4

In [7]:
def calculateExpTestValues(resultList,i,moranValuesByStage,expression,stageIndex):
    resultT=stats.ttest_ind([embryo[expression] for embryo in moranValuesByStage[i][1:] 
                                                  if embryo[expression] != 'only one cell type' ],
                            [embryo[expression] for embryo in moranValuesByStage[stageIndex][1:] 
                                                  if embryo[expression] != 'only one cell type' ])
    resultWelch=stats.ttest_ind([embryo[expression] for embryo in moranValuesByStage[i][1:] 
                                                  if embryo[expression] != 'only one cell type' ],
                                [embryo[expression] for embryo in moranValuesByStage[stageIndex][1:] 
                                                      if embryo[expression] != 'only one cell type' ], equal_var=False)
    resultMW=stats.mannwhitneyu([embryo[expression] for embryo in moranValuesByStage[i][1:] 
                                                  if embryo[expression] != 'only one cell type' ],
                                [embryo[expression] for embryo in moranValuesByStage[stageIndex][1:] 
                                                            if embryo[expression] != 'only one cell type' ])
    resultList.append({"label":moranValuesByStage[i][0],"TTest":round(resultT.pvalue,5),"Welch":round(resultWelch.pvalue,5),
                        "MannWhitney":round(resultMW.pvalue,5)})
    return resultList

In [8]:
def calculateTestValues(resultList,i,data,expression,stageIndex,moranValuesByStage):
    resultT=stats.ttest_ind(data[i][1:],[embryo[expression] for embryo in moranValuesByStage[stageIndex][1:] 
                                                  if embryo[expression] != 'only one cell type' ])
    resultWelch=stats.ttest_ind(data[i][1:],[embryo[expression] for embryo in moranValuesByStage[stageIndex][1:] 
                                                      if embryo[expression] != 'only one cell type' ], equal_var=False)
    resultMW=stats.mannwhitneyu(data[i][1:],[embryo[expression] for embryo in moranValuesByStage[stageIndex][1:] 
                                                            if embryo[expression] != 'only one cell type' ])
    resultList.append({"label":data[i][0],"TTest":round(resultT.pvalue,5),"Welch":round(resultWelch.pvalue,5),
                        "MannWhitney":round(resultMW.pvalue,5)})
    return resultList

## Experimental data

Import  data from Mathematica for Moran index for experimental data

In [9]:
pathExpData=os.path.join(os. getcwd(),"ResultsAll","expDataForWelchTest.json")

with open(pathExpData, "r") as file:
    moranValuesByStage = json.load(file)

Perform hypothesis testing

In [10]:
resultsListNEarly=[]
resultsListNMid=[]
resultsListNLate=[]

resultsListG6Early=[]
resultsListG6Mid=[]
resultsListG6Late=[]

In [11]:
for i in range(len(moranValuesByStage)):
    #NANOG 
    resultsListNEarly=calculateExpTestValues(resultsListNEarly,i,moranValuesByStage,'N+-Moran',0)
    resultsListNMid=calculateExpTestValues(resultsListNMid,i,moranValuesByStage,'N+-Moran',1)
    resultsListNLate=calculateExpTestValues(resultsListNLate,i,moranValuesByStage,'N+-Moran',2)
    
    #GATA6 
    resultsListG6Early=calculateExpTestValues(resultsListG6Early,i,moranValuesByStage,'G6+-Moran',0)
    resultsListG6Mid=calculateExpTestValues(resultsListG6Mid,i,moranValuesByStage,'G6+-Moran',1)
    resultsListG6Late=calculateExpTestValues(resultsListG6Late,i,moranValuesByStage,'G6+-Moran',2)

Display results

In [12]:
0.01/3

0.0033333333333333335

In [13]:
data=pd.DataFrame(resultsListNEarly)
display(data.style.apply(highlight_rowsExp, axis = 1))

In [14]:
data=pd.DataFrame(resultsListNMid)
display(data.style.apply(highlight_rowsLC, axis = 1))

In [15]:
data=pd.DataFrame(resultsListG6Early)
display(data.style.apply(highlight_rowsLC, axis = 1))

In [16]:
data=pd.DataFrame(resultsListG6Mid)
display(data.style.apply(highlight_rowsLC, axis = 1))

## Local clustering scan

Import  data from Mathematica for Moran index for rule-based models and experimental data

In [27]:
pathLCModelData=os.path.join(os. getcwd(),"ResultsAll","localClustDataForWelchTest.json")

with open(pathLCModelData, "r") as file:
    plotDataLC = json.load(file)

In [28]:
pathExpData=os.path.join(os. getcwd(),"ResultsAll","expDataForWelchTest.json")

with open(pathExpData, "r") as file:
    moranValuesByStage = json.load(file)

Perform hypothesis testing

In [29]:
resultsListNEarly=[]
resultsListNMid=[]
resultsListNLate=[]

resultsListG6Early=[]
resultsListG6Mid=[]
resultsListG6Late=[]

for i in range(len(plotDataLC)):
    #NANOG 
    resultsListNEarly=calculateTestValues(resultsListNEarly,i,plotDataLC,'N+-Moran',0,moranValuesByStage)
    resultsListNMid=calculateTestValues(resultsListNMid,i,plotDataLC,'N+-Moran',1,moranValuesByStage)
    resultsListNLate=calculateTestValues(resultsListNLate,i,plotDataLC,'N+-Moran',2,moranValuesByStage)
    
    #GATA6 
    resultsListG6Early=calculateTestValues(resultsListG6Early,i,plotDataLC,'G6+-Moran',0,moranValuesByStage)
    resultsListG6Mid=calculateTestValues(resultsListG6Mid,i,plotDataLC,'G6+-Moran',1,moranValuesByStage)
    resultsListG6Late=calculateTestValues(resultsListG6Late,i,plotDataLC,'G6+-Moran',2,moranValuesByStage)

Display results

In [30]:
0.05/11

0.004545454545454546

In [31]:
data=pd.DataFrame(resultsListNEarly)
display(data.style.apply(highlight_rowsLC, axis = 1))

In [32]:
data=pd.DataFrame(resultsListNMid)
display(data.style.apply(highlight_rowsLC, axis = 1))

In [34]:
data=pd.DataFrame(resultsListG6Early)
display(data.style.apply(highlight_rowsLC, axis = 1))

In [35]:
data=pd.DataFrame(resultsListG6Mid)
display(data.style.apply(highlight_rowsLC, axis = 1))

## Rule-based models

Import  data from Mathematica for Moran index for rule-based models and experimental data

In [34]:
pathRBModelData=os.path.join(os. getcwd(),"ResultsAll","ruleBasedModeldataForWelchTest.json")

with open(pathRBModelData, "r") as file:
    plotData = json.load(file)

In [35]:
pathExpData=os.path.join(os. getcwd(),"ResultsAll","expDataForWelchTest.json")

with open(pathExpData, "r") as file:
    moranValuesByStage = json.load(file)

Perform hypothesis testing

In [36]:
resultsListNEarly=[]
resultsListNMid=[]
resultsListNLate=[]

resultsListG6Early=[]
resultsListG6Mid=[]
resultsListG6Late=[]

for i in range(len(plotData)):
    #NANOG 
    resultsListNEarly=calculateTestValues(resultsListNEarly,i,plotData,'N+-Moran',0,moranValuesByStage)
    resultsListNMid=calculateTestValues(resultsListNMid,i,plotData,'N+-Moran',1,moranValuesByStage)
    resultsListNLate=calculateTestValues(resultsListNLate,i,plotData,'N+-Moran',2,moranValuesByStage)
    
    #GATA6 
    resultsListG6Early=calculateTestValues(resultsListG6Early,i,plotData,'G6+-Moran',0,moranValuesByStage)
    resultsListG6Mid=calculateTestValues(resultsListG6Mid,i,plotData,'G6+-Moran',1,moranValuesByStage)
    resultsListG6Late=calculateTestValues(resultsListG6Late,i,plotData,'G6+-Moran',2,moranValuesByStage)

Display results

In [42]:
0.01/5

0.002

In [46]:
data=pd.DataFrame(resultsListNEarly)
display(data.style.apply(highlight_rowsRB, axis = 1))

In [47]:
data=pd.DataFrame(resultsListNMid)
display(data.style.apply(highlight_rowsRB, axis = 1))

In [48]:
data=pd.DataFrame(resultsListG6Early)
display(data.style.apply(highlight_rowsRB, axis = 1))

In [49]:
data=pd.DataFrame(resultsListG6Mid)
display(data.style.apply(highlight_rowsRB, axis = 1))

## Signalling models

Import  data from Mathematica for Moran index for signalling models and experimental data

In [22]:
pathSigModelData=os.path.join(os. getcwd(),"ResultsAll","sigModeldataForWelchTest.json")

with open(pathSigModelData, "r") as file:
    plotDataAllEM = json.load(file)

In [23]:
pathExpData=os.path.join(os. getcwd(),"ResultsAll","expDataForWelchTest.json")

with open(pathExpData, "r") as file:
    moranValuesByStage = json.load(file)

Perform hypothesis tests

In [25]:
resultsListNEarly=[]
resultsListNMid=[]
resultsListNLate=[]

resultsListG6Early=[]
resultsListG6Mid=[]
resultsListG6Late=[]

for i in range(len(plotDataAllEM)):
    #NANOG 
    resultsListNEarly=calculateTestValues(resultsListNEarly,i,plotDataAllEM,'N+-Moran',0,moranValuesByStage)
    resultsListNMid=calculateTestValues(resultsListNMid,i,plotDataAllEM,'N+-Moran',1,moranValuesByStage)
    resultsListNLate=calculateTestValues(resultsListNLate,i,plotDataAllEM,'N+-Moran',2,moranValuesByStage)
    
    #GATA6 
    resultsListG6Early=calculateTestValues(resultsListG6Early,i,plotDataAllEM,'G6+-Moran',0,moranValuesByStage)
    resultsListG6Mid=calculateTestValues(resultsListG6Mid,i,plotDataAllEM,'G6+-Moran',1,moranValuesByStage)
    resultsListG6Late=calculateTestValues(resultsListG6Late,i,plotDataAllEM,'G6+-Moran',2,moranValuesByStage)

Display results

In [26]:
0.05/22

0.002272727272727273

In [28]:
data=pd.DataFrame(resultsListNEarly)
display(data.style.apply(highlight_rows, axis = 1))

In [27]:
data=pd.DataFrame(resultsListNMid)
display(data.style.apply(highlight_rows, axis = 1))

In [29]:
data=pd.DataFrame(resultsListG6Early)
display(data.style.apply(highlight_rows, axis = 1))

In [30]:
data=pd.DataFrame(resultsListG6Mid)
display(data.style.apply(highlight_rows, axis = 1))